# api相关
#openrouter
OPENROUTER_API_KEY=
OPENROUTER_URL=https://openrouter.ai/api/v1/chat/completions
#DEFAULT_MODEL=google/gemma-3-4b-it:free

#小米官方
MIMO_API_KEY=
MIMO_BASE_URL=https://api.xiaomimimo.com/v1
DEFAULT_MODEL=mimo-v2-flash

#VPN代理(根据调用模型判断是否需要VPN代理)
#HTTP_PROXY=http://127.0.0.1:7890
#HTTPS_PROXY=http://127.0.0.1:7890

LOG_LEVEL=DEBUG